<div class="jumbotron">
  <h1 class="display-4">Make a difference in your community!</h1>
  <p class="lead">Collaborate on technology solutions with citizens in your community or around the world.</p>
  <hr class="my-4">
  <p>Solving the SDGs for a better world</p>
  <a class="btn btn-success btn-lg" href="/ideas/new" role="button">Tell us your great idea!</a>
</div>
